body{
    margin: 0;
    padding: 0;
}
div, p, button {
	box-sizing: border-box;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 48px;
}
h2, p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 36px;
}
p{
    font-size: 17px;
    color: #46474E;
}
.if{
    font-size: 16px;
}
.connect{
    font-size: 11px;
}
.nav, .logo, a {
    font-size: 15px;
    color: black;
}
.burger{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 86.21px;
}
.basis{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 676px;
    height: 675px;
}
.offer{
    margin-top: 317px;
    padding-bottom: 320px;
}
.shelf{
    line-height: 62.4px;
}
ins{
    letter-spacing: 3px;
}
.sing{
    font-size: 13px;
    text-decoration: none;
    color: #46474E;
}
.btn{
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: black;
    color: white;
    width: 247px;
    height: 54px;
    border-radius: 5px;
}
.bt{
    width: 112px;
    height: 40px;
}
.block1, .bl1{
    display: inline-flexbox;
    box-sizing: border-box;
    width: 1264px;
    height: 637px;
    text-align: center;
    background-color: #F3F4F4;
    margin-left: auto;
    margin-right: auto
}
.track{
    padding-top: 65px;
    margin-bottom: 67px;
}

.stat{
    padding-top: 65px;
}
.block2, .bl2{
    display: inline-flexbox;
    box-sizing: border-box;
    width: 620px;
    height: 707px;
    background-color: #F3F4F4;
    text-align: center;
    margin-top: 24.39px;
}
.block3, .bl3{
    display: inline-flexbox;
    box-sizing: border-box;
    width: 620px;
    height: 707px;
    background-color: #F3F4F4;
    text-align: center;
    margin-top: 24.39px;
    margin-left: 24px;
}
.blocks{
    display: flex;
    justify-content: center;
}

.reviews{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 128px;
    margin-bottom: 336px;
}
.members{
    font-size: 17px;
    line-height: 30.6px;
    margin-right: 58.4px;
}
.meet{
    text-align: center;
}
.tree{
}

